/* CSS DOCUMENT*/
    h1{
        text-align: center;
        font-family: serif;
        font-size: 3em;
        text-transform: uppercase;
        color: rgb(56, 132, 207)}

    h2{
        text-align: center;
        font-size: 2em;
        font-style:italic}

    h3{
        color: rgb(15, 212, 203);
        text-transform: uppercase;
        font-family: sans-serif}

    h4{
        color: rgb(183, 192, 165);
        font-family: sans-serif}

    .descriptions{
        font-family: sans-serif}

    .prices{
        font-family: sans-serif;}

 




 






